gimprenderer/.settings
gimprenderer/.project
gimprenderer/.pydevproject
gimprenderer/gimpmaps/log/
gimprenderer/gimpmaps/results/
gimprenderer/gimpmaps/styles/
gimprenderer/test/
gimprenderer/sketching/results/
gimprenderer/*.png
sql/old/
*.pyc
*.xcf
*.log
